output/*
.DS_Store
node_modules
coverage

examples/cjs/output
examples/esm/output

!output/focus-no-jutsu.umd.js
!output/focus-no-jutsu.umd.js.map
!output/focus-no-jutsu.umd.min.js
!output/focus-no-jutsu.umd.min.js.map