#app {
  max-width: 600px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

h3 {
  text-align: center;
}

.dialog {
  width: 360px;
  height: 240px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  background-color: white;
}
.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.openedDialog {
  display: block;
}
.closedDialog {
  display: none;
}
a:focus, button:focus, .dialog:focus {
  outline: 2px dashed seagreen;
  border-radius: 2px;
  outline-offset: 3px;
}

.transition-in {
  opacity: 1;
  transition: opacity .3s;
}

.transition-out {
  opacity: 0;
  transition: opacity .3s;
}