:root {
  --orange: rgb(255, 96, 27);
  --dark-orange: rgb(233, 86, 23);
  --gray: grey;
}

body {
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* background: #F9E9B3 url(./assets/cloud_pattern.webp);
  background-size: 1280px auto;
  background-position: top;
  background-repeat: repeat; */
}

kbd {
  display: inline-block;
  padding: 0.1em 0.3em;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 0.2em;
  box-shadow: inset 0 -1px 0 #bbb;
  font-size: .9em;
}

/* button {
  border: 2px solid black;
  background-color: white;
  font-weight: bold;
  padding: .3em .7em;
  color: black;
}

button:active, button:focus {
  background-color: black;
  color: white;
} */

ul, li {
  list-style: none;
}

h1 {
  color: #333332;
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray);
  color: #333332;
}

h3 {
  font-size: 24px;
  margin: 12px 0;
}

a:focus, button:focus, .dialog:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 3px;
}

details {
  margin: 16px 0;
  cursor: pointer;
}

pre {
  background: hsla(0,0%,0%,0.04);
  padding: 5px 13px;
  margin: 0;
  margin-top: 12px;
  font-size: 0;
  overflow-x: auto;
  border-radius: 3px;
}

pre>code {
  display: block;
  font-size: 14px;
}