#app {
  max-width: 600px;
  margin: 0 auto;
  color: #333333;
  padding: 0 12px;
}

.navbar {
  border: transparent solid 0;
  background: transparent;
  text-align: center;
  font-size: 24px;
}

.navbar::before {
  content: "\2727\2003\2003\2727\2003\2003\2727";
}

/* header {
  position: relative;
}

.header_anchor {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 26px;
  padding-bottom: 10px;
} */