.dialog {
  width: 360px;
  height: 240px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
}
.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.openedDialog {
  display: block;
}
.closedDialog {
  display: none;
}
a:focus, button:focus, .dialog:focus {
  outline: 2px dashed seagreen;
  border-radius: 2px;
  outline-offset: 3px;
}