[role="tablist"] {
  max-width: 100%;
}

[role="tab"] {
  display: inline-block;
  position: relative;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
  font-weight: bold;
  flex-grow: 1;
  color: #fbefea;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
}

[role="tab"]:hover {
  background-color: rgba(255, 255, 255, 0.213);
}

[role="tab"][aria-selected="true"] {
  background-color: white;
  color: #d64d23;
  box-shadow: 0 1px 3px -1px #b14625;
}

[role="tab"] span {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

[role="tabpanel"] {
  margin-top: 8px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  background: #f7f7f7;
  min-height: 10em;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

[role="tabpanel"].is-hidden {
  display: none;
}

.colors {
  display: flex;
  gap: 3px;
}

.colors span {
  width: 12px;
  height: 12px;
}

.begonia .color_a {
  background-color: rgb(246, 201, 211);
}
.begonia .color_b {
  background-color: rgb(210, 212, 144);
}
.begonia .color_c {
  background-color: rgb(167, 194, 228);
}

.pear_blossom .color_a {
  background-color: rgb(246, 224, 151);
}
.pear_blossom .color_b {
  background-color: rgb(197, 203, 147);
}
.pear_blossom .color_c {
  background-color: rgb(165, 193, 229);
}

.hydrangea .color_a {
  background-color: rgb(246, 224, 151);
}
.hydrangea .color_b {
  background-color: rgb(197, 203, 147);
}
.hydrangea .color_c {
  background-color: rgb(165, 193, 229);
}

.evening_primrose .color_a {
  background-color: rgb(244, 196, 229);
}
.evening_primrose .color_b {
  background-color: rgb(227, 227, 69);
}
.evening_primrose .color_c {
  background-color: rgb(175, 180, 81);
}

.peach_blossom .color_a {
  background-color: rgb(82, 107, 239);
}
.peach_blossom .color_b {
  background-color: rgb(154, 169, 247);
}
.peach_blossom .color_c {
  background-color: rgb(219, 224, 251);
}

.begonia::after, .pear_blossom::after, .hydrangea::after, .evening_primrose::after, .peach_blossom::after {
  position: absolute;
  bottom: -9px;
  right: 3px;
  color: white;
  font-weight: bold;
  font-size: 57px;
  line-height: 57px;
  text-align: right;
}

.begonia::after {
  content: "BEGONIA";
}

.pear_blossom::after {
  content: "PEAR BLOSSOM"
}

.hydrangea::after {
  content: "HYDRANGEA"
}

.evening_primrose::after {
  content: "EVENING PRIMROSE";
}

.peach_blossom::after {
  content: "PEACH BLOSSOM";
}

#tab_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(90deg, #fcba21, #f05321);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
}